/*----------  Universal styles  ----------*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Pacifico', sans-serif;
  color: rgba(0, 0, 0, 0.87)
}

body {
  font-size: 1.6em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

/*----------  Header styles  ----------*/

.header {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0 1rem;
}

.brand {
  display: flex;
  justify-content: space-between;
}

.brand-img {
  max-width: 60px;
  max-height: 60px;
  margin: 1rem 0;
}

.brand-heading {
  font-size: 2.6rem;
  display: flex;
  align-self: center;
}

.nav {
  display: none;
}

.nav-list {
  list-style: none;
  width: 100%;
}

.nav-list-item {
  text-align: center;
}

.nav-link {
  width: 100%;
  display: inline-block;
}

.nav-link:hover {
  background-color: pink;
}

.hamburger {
  align-self: center;
  user-select: none;
  cursor: pointer;
}

.menu-visible {
  display: flex;
}

/*----------  Hero section styles  ----------*/

.hero {
  min-height: 30rem;
  background-image: url(images/Cakes/cupcakes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background: rgba(200, 200, 200, 0.7);
  padding: 1rem 2rem;
}

.hero-content>p {
  text-align: center;
  color: rgba(0, 0, 0, 0.7)
}

.hero-content>h2 {
  font-size: 3rem;
  text-align: center;
}


/*----------  Carousel section styles  ----------*/

.cakes-heading {
  font-size: 3rem;
  text-align: center;
}

.carousel-image {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
  margin: 0 auto;
}

.carousel-item {
  display: none;
}

.visible {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 5rem;
  color: #fff;
}

.prev:hover,
.next:hover {
  font-size: 6rem;
}

.prev {
  padding: 8rem 8rem 8rem 5rem;
  left: 0;
}

.next {
  padding: 8rem 5rem 8rem 8rem;
  right: 0;
}

.carousel-wrapper {
  max-width: 960px;
  user-select: none;
  position: relative;
  margin: 0 auto;
}

.cakes-heading {
  margin: 1.5rem 0;
}


/*----------  Media queries  ----------*/

@media screen and (min-width: 800px) {
  .header {
    justify-content: space-between;
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .brand-heading {
    margin-left: 2rem;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
  }

  .brand-img {
    max-width: 100px;
    max-height: 100px;
  }

  .nav-list-item {
    margin-left: 2rem;
  }

  .nav-link {
    padding: .75rem 1rem;
    font-size: 2.2rem;
  }

  .hero {
    min-height: 50rem;
  }

  .hero-content>h2 {
    font-size: 5rem;
  }

  .hero-content>p {
    font-size: 2.6rem;
  }

  .carousel-image {
    max-height: 400px;
  }

  .cakes-heading {
    font-size: 5rem;
    margin: 2rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .brand-heading {
    font-size: 2.8rem;
  }

  .nav-list-item {
    margin-left: 4rem;
  }

  .nav-link {
    padding: 1rem 1.5rem;
    font-size: 2.8rem;
  }

  .hero-content>h2 {
    font-size: 6rem;
  }

  .hero-content>p {
    font-size: 3rem;
  }

  .carousel-image {
    max-height: 600px;
  }

  .cakes-heading {
    font-size: 6rem;
  }
}